body {
    background-color: #fceeeb;
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
 }
 
 .main-section{
    width: 30%;
    height: 800px;
    background-color: white;
    margin: auto ;
    margin-top: 30px;
    border-radius: 3PX;
 }
 .main-section h3 {
    color: #424553;
    margin-bottom: 30px;
    padding-top: 45px;
    margin-left: 20px;
    
 }
 .input-box{
    width: 85%;
    height: 35px;
    margin-left: 20px;
    margin-bottom: 30px;
    padding-left: 10px;
 }
 .btn{
    background-color: #ff3e6c;
    width: 88%;
    height: 35px;
    margin-left: 20px;
    margin-bottom: 30px;
   
 }
 .reset{
    color: #ff3e6c;
}
.paragraf{
    margin-left: 20px; 
    margin-bottom: 30px;
}
 .fa-magnifying-glass {
    position: absolute;
    margin: 13px;
    padding-left: 7px;
    margin-right: -10px;
     color: #7d7e92;
 }
 .form-control{
    padding-left:  28px;
 }