body{
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}
#bold{
    font-weight: 700;
}
#description{
    margin-top: 15px;
    margin-left: 25px;
  margin-bottom: 5px;
}
#images{
    width: 52%;
    height: 52%;
    margin: 25px;
    display: flex;
    flex-wrap: wrap;

}
#main-section{
    display: flex;
}
.t-shirt{
    width: 50%;
   
}
#text-discription{
    min-height: 820px;
    width: 40%;
    float: left;
    padding: 15px;
    

}

.img-thumbnail:hover{
    transform: scale(1.05);
  }
#about{
    color: #9799a2;
    font-size: 20px;
}
.fa-star{
    color: greenyellow;
    padding-bottom: 10px;
}
#text-discription2{
    border-top: 1px solid #9799a2;
    padding-top: 20px;
}
#text-discription4{
    border-top: 1px solid #9799a2;
    padding-top: 30px;
}
#addToButton{
    width: 45%;
    margin: 20px;
    padding: 20px;
}
#Wishlist{
    width: 30%;
    margin: 20px;
    padding: 20px;
}
#charSize{
    display: flex;
    gap: 20px;
}
.size{
    border: 1px solid #9799a2;
    padding: 10px;
    border-radius: 50%;
}
#checkButton{
    position: absolute;
    margin-left: -50px;
    margin-top: 3px;
}
#pincode{
    width: 50%;
    height: 40px;
}
.container{
    background: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .images{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  .images:hover{
    transform: scale(1.05);
  }
  .specifications{
    display:  flex;
    justify-content: space-between;
    margin-right: 20%;
  }
  .smallest{
    border-top: 1px solid #9799a2;
    border-bottom: 1px solid #9799a2;
    padding: 10px;
  }
  .offer-details1{
    border-bottom: 1px solid #9799a2;
    padding: 20px;
  }
  .hrating{
    border-top: 1px solid #9799a2;
    padding: 20px;
    margin-top: 30px;
  }
  .costomerimg{
    width: 90px;
    height: 100px;
  }